/* movie-card.component.css */

.icon-image {
  width: 300px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 10px; /* Example margin */
  transition: 0.3s ease-in-out; /* Smooth transition */
}

.flex-row {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

.title {
  text-align: center; /* Center text within the span */
  margin-top: 10px; /* Space between the image and the text */
  font-size: 30px;
  color: #3f3f3f;
}

.image-container {
  position: relative;
  width: fit-content;
}

.image-container:hover .icon-image {
  opacity: 0.7; /* Tinted background effect */
}

.image-container:hover .download-button {
  display: block; /* Show the button on hover */
}

.download-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Hide the button by default */
  background-color: #3F51B5; /* Button background color */
  color: white; /* Button text color */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.download-button:hover {
  background-color: #007bff; /* Darker blue on hover */
}

