<div class="parent">

  <div style="display:flex;flex-direction: column; width: 90%">
 <video #videoPlayer controls class="video-container" (click)="watchVideo()">
  Your browser does not support the video tag.
  </video>
    <div *ngIf="currentEpisode" style="margin-left:20px">
      <div class="side-by-side-episode">
        <p class="series-title">Episode title: {{currentEpisode.title}} </p>
        <p class="series-duration">duration: {{getRoundedDuration(currentEpisode)}} min</p>
      </div>
      <p class="series-title">Episode description: {{currentEpisode.description}}</p>
    </div>
    <div *ngIf="movie" class="side-by-side">
        <button class="download-button" (click)="downloadMovie()">Download movie</button>
        <button *ngIf="!adminIs" class="download-button" (click)="openReviewDialog()">Add your review</button>
      <button *ngIf="movie.fileName == ''" class="download-button" (click)="openUploadEpisode()">Upload episode</button>
    </div>
  </div>

  <div *ngIf="movie" class="container">
    <img [src]="getImageSrc()" alt="Movie Image" class="movie-image">
    <h1 class="movie-title">{{movie.title}}</h1>
    <p class="movie-description"><strong>Description:   </strong> {{movie.description}}</p>
    <p class="movie-actors"><strong>Actors:   </strong>{{movie?.actors}}</p>
    <p class="movie-genre"><strong>Genre:   </strong>{{ movie?.genre }}</p>
    <p *ngIf="movie.duration!=0" class="movie-duration"><strong>Duration:   </strong>{{ getRoundedDuration(movie) }} min</p>
    <p class="movie-director"><strong>Director:   </strong>{{movie?.director}}</p>

    <div class="button-container">
      <button *ngIf="adminIs" class="update-button" (click)="updateMovie()">Edit</button>
      <button  *ngIf="episodes.length == 0 && adminIs" class="delete-button" (click)="deleteMovie()">Delete</button>
    </div>
  </div>
</div>

<div class="side-by-side">
  <mat-card *ngFor="let episode of episodes">
  <div class="flex-row">
      <div class="image-container">
      <img [src]="getImageSrc()" alt="Movie Image" class="movie-image">
      <button class="episode-button" (click)="chooseEpisode(episode)">Watch episode</button>
      <button *ngIf="adminIs" class="edit-button" (click)="editEpisode(episode)">Edit episode</button>
    </div>
      <span class="title">{{episode.title}}</span>

  </div>
</mat-card></div>

