.movie-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  margin-bottom: 20px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  margin-right: 10px;
}

.nav-item {
  background-color: #3F51B5;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 20px;
  border-radius: 4px;
}

.nav-item1 {
  background-color: #FFABAB;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 20px;
  border-radius: 4px;
}

.nav-item2 {
  background-color: #FF542F;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 20px;
  border-radius: 4px;
}

.nav-item:hover {
  background-color: #536DFE; /* slightly brighter color on hover */
}
.nav-item1:hover {
  background-color: #FFCBCB; /* slightly brighter color on hover */
}
.nav-item2:hover {
  background-color: #FF7557; /* slightly brighter color on hover */
}

.movie-list{
  margin-right: 10px;
}
.app-movie-card{
  margin-right: 20px;
  padding: 20px;
}
.side-by-side {
  margin: 20px;
  display: flex;
}
